button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15}body{margin:0}details,main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;text-decoration:none;color:inherit}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=search]{outline-offset:-2px}summary{display:list-item}[hidden],template{display:none}*,
::after,
::before {
	box-sizing: inherit;
}

img,
svg {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
  flex-shrink: 0;
}

picture {
  flex-shrink: 0;
}

p {
	margin: 0;
}

body {
	margin: 0;
	min-width: 320px;
	font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background: #000000;
}

.main {
  position: relative;
}

.text {
  overflow: hidden;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 8vw;
  line-height: 11vw;
  font-weight: 700;
}

.video {
  position: absolute;
  top: 0;
  width: 100%;
  mask-image: url("../img/mask-desktop.png");
  mask-size: contain;
  mask-repeat: no-repeat;
}
